@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.0672 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.0672 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.0672 0 0);
  --primary: oklch(0.4788 0.0798 194.8177);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.1448 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.3904 0 0);
  --accent: oklch(0.4788 0.0798 194.8177);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6294 0.1776 23.7237);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9158 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.4788 0.0798 194.8177);
  --chart-1: oklch(0.4788 0.0798 194.8177);
  --chart-2: oklch(0.7390 0.0308 193.8463);
  --chart-3: oklch(0.4002 0.0222 275.1033);
  --chart-4: oklch(0.6860 0.2105 41.1394);
  --chart-5: oklch(0.6280 0.2577 29.2339);
  --sidebar: oklch(0.2244 0.0722 254.3366);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.4788 0.0798 194.8177);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3926 0.0305 195.9778);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8699 0 0);
  --sidebar-ring: oklch(0.4788 0.0798 194.8177);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.2rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: oklch(0.372 0.044 257.287);
  --shadow-2xs: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.03);
  --shadow-xs: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.03);
  --shadow-sm: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.05), 0 1px 2px -1px hsl(215.2915 27.9312% 26.8494% / 0.05);
  --shadow: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.05), 0 1px 2px -1px hsl(215.2915 27.9312% 26.8494% / 0.05);
  --shadow-md: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.05), 0 2px 4px -1px hsl(215.2915 27.9312% 26.8494% / 0.05);
  --shadow-lg: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.05), 0 4px 6px -1px hsl(215.2915 27.9312% 26.8494% / 0.05);
  --shadow-xl: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.05), 0 8px 10px -1px hsl(215.2915 27.9312% 26.8494% / 0.05);
  --shadow-2xl: 0 1px 2px 0px hsl(215.2915 27.9312% 26.8494% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1149 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1448 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2046 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.5469 0.0793 195.0837);
  --primary-foreground: oklch(0.1448 0 0);
  --secondary: oklch(0.2046 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7390 0.0308 193.8463);
  --accent: oklch(0.3926 0.0305 195.9778);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.6294 0.1776 23.7237);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3926 0.0305 195.9778);
  --input: oklch(0.1822 0 0);
  --ring: oklch(0.5469 0.0793 195.0837);
  --chart-1: oklch(0.5469 0.0793 195.0837);
  --chart-2: oklch(0.7390 0.0308 193.8463);
  --chart-3: oklch(0.4002 0.0222 275.1033);
  --chart-4: oklch(0.6860 0.2105 41.1394);
  --chart-5: oklch(0.6280 0.2577 29.2339);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.5469 0.0793 195.0837);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.3926 0.0305 195.9778);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.3926 0.0305 195.9778);
  --sidebar-ring: oklch(0.5469 0.0793 195.0837);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.2rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 1px 2px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}